@use "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.jumbo {
    background-color: blueviolet;
    background: linear-gradient(to top, #440283 0%, rgb(51, 51, 51) 100%);
    color: white;
    font-family: 'Bree Serif', serif;
}

.pagination {

    --bs-pagination-color: gray;
    --bs-pagination-hover-color: blueviolet;
}